
.information-box {
    border-top: solid 1px #979797;
    padding-top: 10px;
}

.bootstrap .teacher-submit-button {
  background: #2ecc71;
  border-radius: 0;
  color: white;
  border: 1px solid #003364;
  padding: 10px 30px;
}

.bootstrap .teacher-cancel-button {
  background: #ff6a79;
  border-radius: 0;
  color: white;
  border: 1px solid #003364;
  padding: 10px 30px;
}
