
.login-box {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
  	font-size: 16px;
  	color:#003364;    
    border: solid 1px #979797;
    z-index: 3;
}

@media screen and (min-width: 768px) {
.login-box {
        width: 800px;
        left: 50%;
        margin-left: -385px;
    }
}

.sign-in-up-box {
    margin: 30px 10px 5px;
}

.information-box {
    border-top: solid 1px #979797;
    padding-top: 10px;
}

.login-form {
    border-left: solid 1px #979797;
}

.signup-btn {
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
    outline: none;
}

.teacher-sign-up-btn,
.teacher-sign-up-btn:active,
.teacher-sign-up-btn:focus {
    background: #f6a623;
    border-color: #f6a623;
}

.teacher-sign-up-btn:hover {
    background: #e2b33e;
    border-color: #e2b33e;
}

.student-sign-up-btn,
.student-sign-up-btn:active,
.student-sign-up-btn:focus {
    background: #38a186;
    border-color: #38a186;
}

.student-sign-up-btn:hover {
    background: #078a68;
    border-color: #078a68;
}

.guest-try-out-btn,
.guest-try-out-btn:active,
.guest-try-out-btn:focus {
    background: #ff6a79;
    border-color: #ff6a79;
}

.guest-try-out-btn:hover {
    background: #ed5060;
    border-color: #ed5060;
}

.guest2-try-out-btn,
.guest2-try-out-btn:active,
.gues2t-try-out-btn:focus {
    background: #99ccff;
    border-color: #99ccff;
}

.guest2-try-out-btn:hover {
    background: #66ccff;
    border-color: #66ccff;
}

.sign-in-btn,
.sign-in-btn:active,
.sign-in-btn:focus {
    background: #2ecc71;
    border-color: black;
    color: #ffffff;
    font-weight: bold;
}

.sign-in-btn:hover {
    background: #2a9c5a;
    border-color: #2a9c5a;
    color: #ffffff;
}
.body {
  font-family: Raleway, Helvetica, Arial, "Lucida Grande", sans-serif;
      color: #ffffff;
}

.fullscreen {
  background-color: #3dc3e2;
  background-image: radial-gradient(#3dc3e2, #3dc3e2 0%, #1887a1 70%, #116275 100%);
  min-height: calc(100vh - 72px);
}

.vertical-center {
  display: flex;
  align-items: center;
  min-height: 75vh;
}

.main-box {
  border: 1px solid #003364;
  padding-top: 30px;
  padding-bottom: 7px;
  background: white;
}

p {
  text-align: center;
  font-family: Raleway, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  color:#003364;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px;
  font-family: Raleway, Helvetica, Arial, "Lucida Grande", sans-serif;
}
.nav__logo-image {
  margin: 5px 10px 0 10px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}
.nav__logo-text {
  font-size: 2em;
  position: relative;
  top: -8px;
  font-weight: 300;
}
.nav__logo-text--green-letter {
  color: #2ECC71;
}
.nav__list {
  margin-top: 18px;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.nav__dropdown:hover .nav__dropdown-content {
  display: block;
}
.nav__dropdown-button {
  color: #003364;
  cursor: pointer;
}
.nav__dropdown-button:hover {
  background: #92DDA3;
}
.nav__dropdown-button:focus {
  background: #2ECC71;
}
.nav__dropdown-content {
  display: none;
  position: absolute;
  min-width: 120px;
  top: 60px;
  background: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.nav__dropdown-content a {
  float: none;
  text-align: center;
  color: #003364;
  text-decoration: none;
  display: block;
}
.nav__item--last {
  margin-right: 20px;
}
.nav__item a {
  padding: 15px 25px;
  text-decoration: none;
  color: #003364;
}
.nav__item span {
  padding-right: 15px;
}
.nav__item a:hover {
  cursor: pointer;
  background-color: #92DDA3;
  box-shadow: inset 0 0 10px #7ec98f;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #2ECC71;
  padding: 10px 0 10px 0;
  color: white;
  font-size: 0.9em;
}

.bootstrap .signup-btn, .bootstrap .signup-btn--teacher, .bootstrap .signup-btn--student, .bootstrap .signup-btn--guest {
  margin-bottom: 5px;
  color: white;
  outline: none;
  border-radius: 0;
}
.bootstrap .signup-btn--teacher {
  background: #f6a623;
}
.bootstrap .signup-btn--teacher:hover {
  background: #e2920f;
}
.bootstrap .signup-btn--student {
  background: #38a186;
}
.bootstrap .signup-btn--student:hover {
  background: #248d72;
}
.bootstrap .signup-btn--guest {
  background: #ff6a79;
}
.bootstrap .signup-btn--guest:hover {
  background: #eb5665;
}
