<?xml version="1.0" encoding="UTF-8"?>
<!-- This is the web.xml used for production version of mathspring-->
<!-- N.B.  This web-app element only works with Tomcat 6.0.  This is what runs on Cadmium - our production server.
  If you use an older version of Tomcat, you should alter the below version 2.4.  You will know if things are working
   by using the admin pages to set up classes.  JSP will not work if there is an incompatibility in config.  -->
<!-- change http content setting to https once the https server is available -->   
<!-- set datasource to wodbrose -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <description>MathSpring web application</description>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/aws</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <display-name>mathspring-V2</display-name>
  <context-param>
    <param-name>error.smtpserver</param-name>
    <param-value>mailsrv.cs.umass.edu</param-value>
  </context-param>
  <context-param>
    <param-name>host</param-name>
    <param-value>tutor.mathspring.org</param-value>
  </context-param>
  <context-param>
    <param-name>wodb.datasource</param-name>
    <param-value>jdbc/wodbrose</param-value>
  </context-param>
  <context-param>
    <param-name>pedagogiesFile</param-name>
    <param-value>/pedagogies.xml</param-value>
  </context-param>
  <context-param>
		<param-name>webContentPath</param-name>
		<!-- connect to the msadmin content -->
		<param-value>https://s3.amazonaws.com/ec2-54-225-52-217.compute-1.amazonaws.com/mscontent/</param-value>
	</context-param>
  <context-param>
    <param-name>probplayerPath</param-name>
    <param-value>Problems/probplayer.swf</param-value>
  </context-param>
  <context-param>
    <param-name>probPreviewerPath</param-name>
    <param-value>Problems/problem_checker.swf</param-value>
  </context-param>
  <context-param>
    <param-name>html5Probs</param-name>
    <param-value>html5Probs/</param-value>
  </context-param>
  <context-param>
    <param-name>isDevelopmentEnv</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>useHybridTutor</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>useLearningCompanions</param-name>
    <param-value>true</param-value>
  </context-param>
  <servlet>
    <servlet-name>TutorBrain</servlet-name>
    <servlet-class>edu.umass.ckc.wo.woserver.WoTutorServlet</servlet-class>
    <init-param>
      <param-name>gui</param-name>
      <param-value>huy</param-value>
    </init-param>
    <init-param>
      <param-name>externalActivityPercentage</param-name>
      <param-value>15.0</param-value>
    </init-param>
    <init-param>
      <param-name>useStrategyCaching</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>assistmentsLogBackURL</param-name>
      <param-value>https://www.assistments.org/api2/partnerProblemLog</param-value>
    </init-param>
    <init-param>
      <param-name>videoURI</param-name>
      <param-value>video/</param-value>
    </init-param>
    <init-param>
      <param-name>emailLogFilename</param-name>
      <param-value>u:\\wayang\\emailErr.log</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>GritMouseServlet</servlet-name>
    <servlet-class>edu.umass.ckc.wo.woserver.GritMouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GritMouseServlet</servlet-name>
    <url-pattern>/gritms/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WoAdmin</servlet-name>
    <servlet-class>edu.umass.ckc.wo.woserver.WoAdminServlet</servlet-class>
    <init-param>
      <param-name>gui</param-name>
      <param-value>huy</param-value>
    </init-param>
    <init-param>
      <param-name>useServletSession</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>sessionTimeoutMinutes</param-name>
      <param-value>30</param-value>
    </init-param>
    <init-param>
      <param-name>prepostProblemURI</param-name>
      <param-value>flash/</param-value>
    </init-param>
    <init-param>
      <param-name>mailServer</param-name>
      <param-value>mailsrv.cs.umass.edu</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>WoLoginServlet</servlet-name>
    <servlet-class>edu.umass.ckc.wo.login.WoLoginServlet</servlet-class>
    <init-param>
      <param-name>gui</param-name>
      <param-value>huy</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>mathSpring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/mathSpring-servlet.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>mathSpring</servlet-name>
    <url-pattern>/tt/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageFetch</servlet-name>
    <servlet-class>edu.umass.ckc.wo.woserver.ImageFetchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MathspringSubSessionServlet</servlet-name>
    <servlet-class>edu.umass.ckc.wo.woserver.MathspringSubSessionServlet</servlet-class>
    <init-param>
      <param-name>handlerClassName</param-name>
      <param-value>edu.umass.ckc.wo.servletController.MariHandler</param-value>
    </init-param>
    <init-param>
      <param-name>videoURI</param-name>
      <param-value>http://cadmium.cs.umass.edu/mathspring/video/</param-value>
    </init-param>
    <init-param>
      <param-name>emailLogFilename</param-name>
      <param-value>u:\\wayang\\emailErr.log</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>TestDbServlet</servlet-name>
    <servlet-class>edu.umass.ckc.wo.woserver.TestDbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageFetch</servlet-name>
    <url-pattern>/getImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestDbServlet</servlet-name>
    <url-pattern>/TestDbServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MathspringSubSessionServlet</servlet-name>
    <url-pattern>/mathspringSubSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WoLoginServlet</servlet-name>
    <url-pattern>/WoLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LineGraphServlet</servlet-name>
    <servlet-class>edu.umass.ckc.wo.charts.LineGraphServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LineGraphServlet</servlet-name>
    <url-pattern>/LineGraphServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BarChartServlet</servlet-name>
    <servlet-class>edu.umass.ckc.wo.charts.BarChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BarChartServlet</servlet-name>
    <url-pattern>/BarChartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BarChartServletIvon</servlet-name>
    <servlet-class>edu.umass.ckc.wo.charts.BarChartServletIvon</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BarChartServletIvon</servlet-name>
    <url-pattern>/BarChartServletIvon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TutorBrain</servlet-name>
    <url-pattern>/TutorBrain</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WoAdmin</servlet-name>
    <url-pattern>/WoAdmin</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>txt</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>htm</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>gif</extension>
    <mime-type>image/gif</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>jpeg</extension>
    <mime-type>image/jpeg</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>jpg</extension>
    <mime-type>image/jpeg</mime-type>
  </mime-mapping>
  <welcome-file-list>
  	<welcome-file>welcome.html</welcome-file>
  </welcome-file-list>
  	
  	
</web-app>